.hero .carousel_root {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.hero .carousel_item_root {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.hero .carousel_inner {
  width: 100%;
  height: 36rem; /* Adjust the height of the slider box as needed */
  overflow: hidden;
}

.hero .carousel_inner::after {
  content: "";
  display: block;
  clear: both;
}

.hero .carousel_item {
  position: relative;
  float: left;
  display: none;
  width: 100%;
  margin-right: -100%;
}

.hero .carousel_item__active,
.hero .carousel_item__pos_next {
  display: block;
}

.hero .carousel_item__pos_next {
  left: 100%;
}

.hero .carousel_item__next {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.hero .carousel__fade .carousel_item__pos_next {
  left: 0;
  opacity: 0;
}

.hero .carousel__fade .carousel_item__next {
  transform: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hero .carousel__fade .carousel_item__active.carousel_item__next {
  opacity: 0;
}

.hero .carousel_img {
  display: block;
  width: 100%;
  height: 90vh;
  object-fit: fill;
}

.hero .carousel_caption {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 3rem 2.5rem;
  text-align: center;
  color: #fff;
  z-index: 1;
}

.hero .carousel_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.hero .carousel_description {
  margin-top: 0.75rem;
  line-height: 150%;
}
.hero .carousel_title{
  font-size: 8rem;
}
.hero .carousel_description{
  font-size: 1.1rem;
}